.films-hero {
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 150px;
    background: linear-gradient(0deg, transparent, var(--main-bg), transparent);
    position: absolute;
    bottom: -75px;
    left: 0;
    z-index: 10;
  }

  &-wrapper {
    overflow: hidden;
    position: relative;
  }

  &__list {
    overflow: visible;
    min-height: 100svh;
    z-index: 1;

    &.swiper {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .films-hero__bgs {
    width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    img {
      filter: brightness(0.25);
      transform: scale(1.1);
      transition: all 0.5s ease;
      opacity: 0;

      position: absolute;
      left: 0;
      top: 0;

      &.active {
        opacity: 1;
      }
    }
  }

  .swiper-slide {
    opacity: 0.3;
    transition: all 0.3s ease;

    &-active {
      opacity: 1;
    }
  }

  &__item {
    padding: 30px 0;
    width: 100%;
    height: 100%;
    background: center / cover no-repeat;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;

    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      margin: 0 auto;
      gap: 25px;
    }

    &.swiper-slide {
      position: static;
    }

    &-img {
      width: 100%;
      height: 600px;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 0 55px rgba(255, 255, 255, 0.3);

      @media (max-width: 767px) {
        height: 300px;
      }

      img {
        object-position: bottom;
      }

      @media (max-width: 767px) {
        // height: 50vh;
      }
    }

    &-info {
      max-width: 700px;
      padding-left: 50px;
      display: flex;
      flex-direction: column;

      @media (max-width: 1000px) {
        padding-left: 0;
      }
    }

    &-title {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 18px;
      text-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
      @media (max-width: 767px) {
        font-size: 28px;
      }
    }

    &-desc {
      font-size: 20px;
      max-width: 600px;
    }

    &-other {
      margin-top: 50px;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      b {
        font-weight: 600;
      }

      span {
        font-size: 16px;
      }
    }

    &-genre {
      display: flex;
      align-items: center;
      gap: 10px;

      @media (max-width: 1000px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .film-item__genre-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        span {
          padding: 3px 6px;
          border-radius: 15px;
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

.film-item-rate {
  span {
    &.green {
      color: var(--lime-500);
    }
    &.orange {
      color: var(--amber-500);
    }
    &.red {
      color: var(--red-500);
    }
  }
}
